<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Customers <small>Only Happy Customers</small></h1>
            <ol class="breadcrumb">
                <li><a ui-sref="index">Home</a></li>
                <li class="active">Customers</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#"><img class="img-responsive" src="http://placehold.it/740x450"></a>
            <h3><a href="#">Customer Name</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>

    </div>

</div><!-- /.container -->
