<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Features <small>Unique Set Of Features</small></h1>
            <ol class="breadcrumb">
                <li><a ui-sref="index">Home</a></li>
                <li><a ui-sref="features.list">Features</a></li>
                <li class="active" ui-view="selected">No Feature Selected</li>
            </ol>
        </div>

    </div>

    <div ui-view=""></div>

</div><!-- /.container -->